@media screen and (max-width: 991px) {
    .header {
        .head {
            justify-content: space-between;
            padding-top: 30px;
    
            .head__logo {
                margin: 0;
            }
            .humburger__btn  {
                margin-right: 0;
                z-index: 2;
            }

            .menu {
                display: none;
                position: absolute;
                background-color: var(--POLICE-BLUE);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            .menu__list {
                display: block;
                padding-top: 120px;
                text-align: center;
            }

            .menu__item {
                margin-bottom: 20px;
            }

            .menu__item__link {
                font-size: 18px;
            }
        }

        // HERO 
        .hero__title {
            font-size: 150px;
        }

        .hero__link {
            width: 200px;
            height: 46px;
            font-size: 20px;
        }

        .hero__descr {
            font-size: 18px;
            text-align: center;
            align-self: center;
        }
    }

    .header.open {
        position: fixed!important;
    }

    .header.open .menu {
        display: block;
        scroll-behavior: smooth;
    }
    
    .header.open .humburger__btn span:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }
    
    .header.open .humburger__btn span:nth-child(2) {
        opacity: 0;
    }
    
    .header.open .humburger__btn span:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
    }

    .blog__list {
        flex-wrap: wrap;
        justify-content: space-evenly;

        .blog__list__items {
            margin: 15px;
        }
    }


    // About 
    .about {
        align-items: flex-start;
    }

    .about__content {
        font-size: 20px;
        line-height: 26px;
    }

    .about__content__link {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px){
    body {
        .hero {
            margin-top: 140px;
    
            .hero__title {
                font-size: 95px;
                line-height: 140px;
            }
    
            .hero__link {
                width: 160px;
                height: 42px;
                font-size: 18px;
                margin-bottom: 80px;
            }
        }
        main {
            padding-top: 80px;

            .about__content {
                font-size: 18px;
            }

            .about__content__link {
                font-size: 18px;
            }
        }

    }
}